/* Variables */ /* Generales */
#Titulo {
  list-style-type: none;
  text-decoration: none;
  margin: auto;
  padding: 1px;
  font-size: 80px;
  color: rgb(145, 236, 8);
}

* {
  padding: 1px;
  margin: auto;
  box-sizing: border-box;
}

@media (min-width: 320px) and (max-width: 576px) {
  .bodyHome {
    grid-template-areas: "Header" "Main" "Main" "Footer";
  }
  .bodyHome .mainHome {
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: Main;
  }
  .bodyHome .homeSection {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .bodyHome .footerHome {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
@font-face {
  font-family: "Romanica";
  src: url(../Fonts/Romanica.ttf);
}
/* Body Home */
.bodyHome {
  font-family: "Romanica";
  font-size: larger;
  background-image: url("../img/campo-padel-pelotas-canasta.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 2px;
  margin: 2px;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
  overflow-x: hidden;
}
.bodyHome .headerHome {
  width: 100%;
  height: 150px;
  font-family: "Romanica";
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 2px;
  padding: 2px;
  overflow-x: hidden;
}
.bodyHome .headerHome .container-fluid {
  margin: auto;
  padding: 4px;
}

.bodyHome .mainHome {
  width: 100%;
  height: 1000px;
  margin: 2px ;
  padding: 2px ;
}
.bodyHome .mainHome .homeSection {
  height: 800px;
  width: 100%;
  column-gap: 80px;
  margin: 2px;
  padding: 2px;
  display: grid;
  grid-template-columns: 700px 700px;
  grid-template-rows: 50% 50%;
}
.bodyHome .mainHome .divOfertas .imgOfertas {width: 1300px;
height: 150;  
display: flex;
justify-content: center;}

.bodyHome .mainHome .homeSection .divSection {
  margin: 2px;
  padding: 2px;
}
.bodyHome .mainHome .homeSection .divSection .imgHome {
  height: 300px;
  width: 500px;
  margin: 1%;
  padding: 1%;
  transition: 2s;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bodyHome .mainHome .homeSection .divSection .imgHome:hover {width: 630px;
  height: 365px;
  cursor: pointer;
  }

.bodyHome .footerHome {
  font-family: "Romanica";
  font-size: larger;
  height: 120px;
  width: 100%;
  color: white;
  display: grid;
  justify-content: space-between;
  grid-area: Footer;
  align-items: flex-end;
}
.bodyHome .footerHome #instagram {
  background: rgb(115, 3, 125);
}
.bodyHome .footerHome #facebook {
  background: rgb(34, 92, 251);
}
.bodyHome .footerHome #twitter {
  background: rgb(49, 160, 251);
}

/* Body Nosotros */
.bodyNosotros {
  font-family: "Romanica";
  font-size: larger;
  background-image: url("../img/campo-padel-pelotas-canasta.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: auto;
  margin: auto;
  display: grid;
}
.bodyNosotros .headerNosotros {
  width: 100%;
  height: 150px;
  font-family: "Romanica";
  display: grid;
  grid-template-columns: auto auto;
  margin: 1%;
  padding: 2%;
}
.bodyNosotros .headerNosotros .container-fluid {
  margin: auto;
  padding: 1%;
}
.bodyNosotros .mainNosotros {
  background-color: rgb(47, 47, 47);
  border: 3px solid white;
  height: 800px;
  width: 90%;
  margin: auto;
  padding: 2%;
}
.bodyNosotros .mainNosotros .h1Nosotros {
  margin: 1%;
  padding: 1%;
  text-align: center;
  font-size: xx-large;
  color: white;
}
.bodyNosotros .mainNosotros .article {
  width: 100%;
  height: 600px;
  margin: auto;
  font-size: 92%;
  color: white;
}
.bodyNosotros .mainNosotros .h3tienda {
  margin: 1px;
  padding: 1px;
  color: white;
}
.bodyNosotros .mainNosotros .divbien {
  font-size: x-large;
  text-align: end;
  margin: 1px;
  padding: 1px;
  color: white;
}
.bodyNosotros .footerNosotros {
  font-family: "Romanica";
  font-size: larger;
  height: 120px;
  width: 100%;
  color: white;
  display: grid;
  justify-content: space-between;
  align-items: flex-end;
}
.bodyNosotros .footerNosotros #instagram {
  background: rgb(115, 3, 125);
}
.bodyNosotros .footerNosotros #facebook {
  background: rgb(34, 92, 251);
}
.bodyNosotros .footerNosotros #twitter {
  background: rgb(49, 160, 251);
}

/* Body Comunidad */
.bodyComunidad {
  font-family: "Romanica";
  font-size: larger;
  background-image: url("../img/campo-padel-pelotas-canasta.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.bodyComunidad .headerComunidad {
  width: 100%;
  height: 150px;
  font-family: "Romanica";
  display: grid;
  grid-template-columns: auto auto;
  margin: 1%;
  padding: 2%;
}
.bodyComunidad .headerComunidad .container-fluid {
  margin: auto;
  padding: 1%;
}
.bodyComunidad .mainComunidad {
  margin: auto;
  padding: 8%;
  height: 800px;
  width: 80%;
  border: 3px solid white;
  background-color: rgb(47, 47, 47);
  display: flex;
  justify-content: end;
  color: white;
}
.bodyComunidad .footerComunidad {
  font-family: "Romanica";
  font-size: larger;
  height: 120px;
  width: 100%;
  color: white;
  display: grid;
  justify-content: space-between;
  align-items: flex-end;
}
.bodyComunidad .footerComunidad #instagram {
  background: rgb(115, 3, 125);
}
.bodyComunidad .footerComunidad #facebook {
  background: rgb(34, 92, 251);
}
.bodyComunidad .footerComunidad #twitter {
  background: rgb(49, 160, 251);
}

/* Body Contacto */
.bodyContacto {
  font-family: "Romanica";
  font-size: larger;
  background-image: url("../img/campo-padel-pelotas-canasta.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.bodyContacto .headerContacto {
  width: 100%;
  height: 150px;
  font-family: "Romanica";
  display: grid;
  grid-template-columns: auto auto;
  margin: 1%;
  padding: 2%;
}
.bodyContacto .headerContacto .container-fluid {
  margin: auto;
  padding: 1%;
}
.bodyContacto .mainContacto {
  margin: auto;
  padding: 8%;
  height: 90%;
  width: 1400px;
  border: 3px solid white;
  background-color: rgb(47, 47, 47);
  display: flex;
  justify-content: end;
}
.bodyContacto .mainContacto .sectionContacto {
  width: 100%;
  height: 700px;
  margin: auto;
  font-size: 76%;
  color: white;
}
.bodyContacto .mainContacto .pcontacto {
  font-size: x-large;
  color: white;
}
.bodyContacto .mainContacto .h1contacto {
  display: flex;
  justify-content: center;
  font-size: x-large;
  margin: 1px;
  padding: 1%;
  color: white;
}
.bodyContacto .mainContacto .h2mailc {
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: xx-large;
  text-decoration: underline;
  margin: auto;
  padding: auto;
  color: white;
}
.bodyContacto .footerContacto {
  font-family: "Romanica";
  font-size: larger;
  height: 120px;
  width: 100%;
  color: white;
  display: grid;
  justify-content: space-between;
}
.bodyContacto .footerContacto #instagram {
  background: rgb(115, 3, 125);
}
.bodyContacto .footerContacto #facebook {
  background: rgb(34, 92, 251);
}
.bodyContacto .footerContacto #twitter {
  background: rgb(49, 160, 251);
}

/* Body Productos */
.bodyProductos {
  font-family: "Romanica";
  font-size: larger;
  background-image: url("../img/campo-padel-pelotas-canasta.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: auto;
  margin: auto;
}
.bodyProductos .headerProductos {
  width: 100%;
  height: 150px;
  font-family: "Romanica";
  display: grid;
  grid-template-columns: auto auto;
  grid-area: Header;
  margin: 1%;
  padding: 2%;
}
.bodyProductos .headerProductos .container-fluid {
  margin: auto;
  padding: 1%;
}
.bodyProductos .mainProductos {
  height: 1700px;
  width: 100%;
}
.bodyProductos .mainProductos .imgProducto {
  width: 350px;
  height: 250px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyProductos .mainProductos .Descripcion {
  width: 200px;
  height: 50px;
  background-color: white;
  margin: auto;
  padding: 1%;
  text-align: center;
  display: flex;
  justify-content: start;
  font-size: 11px;
}
.bodyProductos .mainProductos .Carrito {
  width: 50%;
  height: 80%;
}
.bodyProductos .mainProductos .sectionOfertas {
  height: 350px;
  width: 100%;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.bodyProductos .mainProductos .sectionPalas {
  height: 350px;
  width: 100%;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.bodyProductos .mainProductos .sectionRopa {
  height: 350px;
  width: 100%;
  margin: 10px;
  padding: 1%;
  display: flex;
  justify-content: space-between;
}
.bodyProductos .mainProductos .sectionZapatillas {
  height: 350px;
  width: 100%;
  margin: 10px;
  padding: 1%;
  display: flex;
  justify-content: space-between;
}
.bodyProductos .mainProductos .Productos {
  background-color: rgb(40, 102, 236);
  border: 2px solid white;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: xx-large;
  padding: 3px;
  margin: auto;
  height: 50px;
  width: 25%;
}
.bodyProductos .footerProductos {
  font-family: "Romanica";
  font-size: larger;
  height: 140px;
  width: 100%;
  color: white;
  display: grid;
  justify-content: space-between;
  align-items: flex-end;
}
.bodyProductos .footerProductos #instagram {
  background: rgb(115, 3, 125);
}
.bodyProductos .footerProductos #facebook {
  background: rgb(34, 92, 251);
}
.bodyProductos .footerProductos #twitter {
  background: rgb(49, 160, 251);
}