/* Body Home */

.bodyHome {
    font-family: "Romanica";
    font-size: larger;
    background-image: url("../img/campo-padel-pelotas-canasta.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 8em;
    min-height: 100vh;
    overflow-x: hidden;
        .headerHome {width: 100%;
            height: 10%;
            font-family: "Romanica";
        }
        .mainHome {width: 100%;
            height: 87%;
            margin: auto;
            padding: 2px;
            .divOfertas {margin: 4px;
                padding: 3%;
                display: flex;
                justify-content: center;
                width: auto;
                .imgOfertas {width: 100%;
                    height: 100%;  
                    display: flex;
                    justify-content: center;
                }
            } 
        }       
            .homeSection {height: 100%;
                width: 80%;
                column-gap: 40px;
                margin: auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .divSection {display: flex;
                    justify-items: center;
                    align-items: center;
                    margin: 2px;
                    width: auto;
                    .imgHome {height: 80%;
                        width: 85%;
                        margin: auto;
                        padding: 5%;
                        transition: 1s;
                        }
                    .imgHome:hover{width: 90%;
                        cursor: pointer;
                        }
                }
            }
        .footerHome { font-family: "Romanica";
            background-color: rgb(23, 22, 22);
            height:7%;
            width: 100%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            $redes-sociales:(
                facebook:rgb(34, 92, 251),
                instagram:rgb(115, 3, 125),
                twitter:rgb(49, 160, 251)
                );
                #instagram{
                    background: map-get($redes-sociales, instagram)
                }
                #facebook{ 
                    background: map-get($redes-sociales, facebook)
                }
                #twitter{ 
                    background: map-get($redes-sociales, twitter)
                }
        }
}

/* Body Nosotros */

.bodyNosotros {font-family: "Romanica";
    font-size: larger;
    background-image: url("../img/campo-padel-pelotas-canasta.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 8em;
    min-height: 100vh;
    overflow-x: hidden;
    .headerNosotros {width: 100%;
        height: 150px;
        height: 10%;
    }    
    @if $modo == oscuro{
    .mainNosotros {background-color: $secundary-color;
        border: 3px solid white;
        height: 80%;
        width: 90%;
        margin: auto;
        margin-top: 5%;
        padding: 2%;
        overflow: auto;
        font-size:90%;
        .article {width: 100%;
            height: auto;
            margin: auto;
            
            color: $white;
        }
            .h1Nosotros {text-align: center;
                margin: 2%;
                padding: 1%;
            }
            .h3Nosotros {margin: 1px;
                padding: 1px;
                color: $white;
            }
            .divbien {font-size: 100%;
                text-align: end;
                margin: 1%;
                padding: 1%;
                color: $white;
            }
    }
    }
    @else if $modo == claro{  
    .mainNosotros {background-color: $secundary-color;
        border: 3px solid white;
        height: 80%;
        width: 90%;
        margin: auto;
        margin-top: 5%;
        padding: 2%;
        overflow: auto;
        .article {width: 100%;
            height: 600px;
            margin: auto;
            font-size: 92%;
            color: $white;
        }
            .h1Nosotros { margin: 1%;
                padding: 1%;
                text-align: center;
                font-size: xx-large;
                color: $white;
            }
            .h3Nosotros {margin: 1px;
                padding: 1px;
                color: $white;
            }
            .divbien {font-size: x-large;
                text-align: end;
                margin: 1px;
                padding: 1px;
                color: $white;
            }
    }
    }
    .footerNosotros { font-family: "Romanica";
        background-color: rgb(23, 22, 22);
        height:6%;
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        margin-top: 2%;
        $redes-sociales:(
            facebook:rgb(34, 92, 251),
            instagram:rgb(115, 3, 125),
            twitter:rgb(49, 160, 251)
            );
            #instagram{
                background: map-get($redes-sociales, instagram)
            }
            #facebook{ 
                background: map-get($redes-sociales, facebook)
            }
            #twitter{ 
                background: map-get($redes-sociales, twitter)
            }  
    }
}


/* Body Comunidad */

.bodyComunidad {font-family: "Romanica";
    font-size: larger;
    background-image: url("../img/campo-padel-pelotas-canasta.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 8em;
    min-height: 100vh;
    overflow-x: hidden;
    .headerComunidad {width: 100%;
        height: 150px;
        font-family: "Romanica";
        height: 10%;
    }
    @if $modo == oscuro{
    .mainComunidad {background-color: $secundary-color;
        padding: 6%;
        height: auto;
        width: 80%;
        border: 3px solid white;
        color: $white;
        margin:auto;
        margin-top: 5%;
    }
    }
    @else if $modo == claro{
    .mainComunidad {margin: auto;
        padding: 3%;
        height: auto;
        width: 87%;
        border: 3px solid white;
        background-color: $primary-color;
        color: $white;
        margin-top: 5%;
    }
    }
    .footerComunidad {font-family: "Romanica";
        background-color: rgb(23, 22, 22);
        height:10%;
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        $redes-sociales:(
                facebook:rgb(34, 92, 251),
                instagram:rgb(115, 3, 125),
                twitter:rgb(49, 160, 251)
                );
                #instagram{
                    background: map-get($redes-sociales, instagram)
                }
                #facebook{ 
                    background: map-get($redes-sociales, facebook)
                }
                #twitter{ 
                    background: map-get($redes-sociales, twitter)
                }
    }
}

/* Body Contacto */

.bodyContacto {font-family: "Romanica";
    font-size: larger;
    background-image: url("../img/campo-padel-pelotas-canasta.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height:100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 8em;
    min-height: 100vh;
    overflow-x: hidden;
    .headerContacto {width: 100%;
        height: 150px;
        font-family: "Romanica";
        height: 10%;
    }
    @if $modo == oscuro{    
    .mainContacto {margin: auto;
        padding: 6%;
        height: 87%;
        width: 80%;
        border: 3px solid white;
        background-color: $secundary-color;
        margin-top: 5%;
        .sectionContacto {width: 100%;
            margin: auto;
            color: $white;
            }
            .pcontacto {font-size: x-large;
                color: $white;    
            }
            .h1contacto {display: flex;
                justify-content: center;
                padding: 3%;
                color: $white;
            }
            .h2mailc { display: flex;
                justify-content: end;
                align-items: end;
                text-decoration: underline;
                margin:auto;
                padding: auto;
                color: $white;
            }
    }
    }
    @else if $modo == claro{        
    .mainContacto {margin: auto;
        padding: 6%;
        height: 87%;
        width: 80%;
        border: 3px solid white;
        background-color: $primary-color;
        margin-top: 5%;
        .sectionContacto {width: 100%;
            margin: auto;
            }
            .pcontacto {font-size: x-large;
            }
            .h1contacto {display: flex;
                justify-content: center;
                margin: 1px;
                padding: 1%;
            }
            .h2mailc { display: flex;
                justify-content: end;
                align-items: end;
                text-decoration: underline;
                margin:auto;
                padding: auto;
            }    
    }
    }
    .footerContacto {font-family: "Romanica";
        background-color: rgb(23, 22, 22);
        height:7%;
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        $redes-sociales:(
                facebook:rgb(34, 92, 251),
                instagram:rgb(115, 3, 125),
                twitter:rgb(49, 160, 251)
                );
                #instagram{
                    background: map-get($redes-sociales, instagram)
                }
                #facebook{ 
                    background: map-get($redes-sociales, facebook)
                }
                #twitter{ 
                    background: map-get($redes-sociales, twitter)
                }
    }      
}

/* Body Productos */

.bodyProductos {font-family: "Romanica";
    font-size: larger;
    background-image: url("../img/campo-padel-pelotas-canasta.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: auto;
    margin: auto;
    position: relative;
    padding-bottom: 8em;
    min-height: 100vh;
    overflow-x: hidden;
    .headerProductos {width: 100%;
        height: 10%;
        font-family: "Romanica";
    }
    .mainProductos {height: 100%;
        width: 100%;
        margin: auto;
        padding: 1%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .containerOfertas { height: auto;
            width: 80%;
            margin: 10px;
            padding: 5px;
            .h1Ofertas{background-color: $primary-color;
            color: $white;
            text-align: center;
            width: 40%;
            border: 2px solid white;}
        }

            
        .containerPalas {height: auto;
            width: 80%;
            margin: 10px;
            padding: 5px;
            .h1Palas{background-color: $primary-color;
                color: $white;
                text-align: center;
                width: 40%;
                border: 2px solid white;}
        }
        .containerAccesorios {height:auto;
            width: 80%;
            margin: 10px;
            padding: 5px;
            .h1Accesorios{background-color: $primary-color;
                color: $white;
                text-align: center;
                width: 40%;
                border: 2px solid white;}
        }
        .containerZapatillas {height: auto;
            width: 80%;
            margin: 10px;
            padding: 5px;
            .h1Zapatillas{background-color: $primary-color;
                color: $white;
                text-align: center;
                width: 40%;
                border: 2px solid white;}
        }
                .imgProducto {width: 60%;
                height: 200px;
                }
    }
    .footerProductos {font-family: "Romanica";
        background-color: rgb(23, 22, 22);
        width: 100%;
        height: 3%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        $redes-sociales:(
                facebook:rgb(34, 92, 251),
                instagram:rgb(115, 3, 125),
                twitter:rgb(49, 160, 251)
                );
                #instagram{
                    background: map-get($redes-sociales, instagram)
                }
                #facebook{ 
                    background: map-get($redes-sociales, facebook)
                }
                #twitter{ 
                    background: map-get($redes-sociales, twitter)
                }
            }
}
    

