/* Generales */

#Titulo {list-style-type: none;
    text-decoration: none;
    font-size: 60px;
    color:rgb(145, 236, 8)
}

*{
    padding: 0px;
    margin: auto;
    box-sizing: border-box;
}

@media (min-width: 320px) and (max-width: 576px){
        .headerHome {
            height: 150px;
            font-family: "Romanica";
        }
        .mainHome {width: 100%;
            height: 100vh;
            margin: auto;
            padding: 2px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .divOfertas {margin: 4px;
                padding: 3px;
                display: flex;
                justify-content: center;
                width: 500px;
                .imgOfertas {width: 100%;
                    height: 40px;  
                    display: flex;
                    justify-content: center;
                }
                .imgHome:hover{width: 90%;
                    cursor: pointer;
                    }
            } 
        }   
        .homeSection {
            .divSection {display: flex;
                justify-items: center;
                align-items: center;
                margin: 2px;
                .imgHome {height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    }
            }
        }
        
        .footerHome { font-family: "Romanica";
            background-color: rgb(23, 22, 22);
            height: 7%;
            width: 100%;
            color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            $redes-sociales:(
                facebook:rgb(34, 92, 251),
                instagram:rgb(115, 3, 125),
                twitter:rgb(49, 160, 251)
                );
                #instagram{
                    background: map-get($redes-sociales, instagram)
                }
                #facebook{ 
                    background: map-get($redes-sociales, facebook)
                }
                #twitter{ 
                    background: map-get($redes-sociales, twitter)
                }
        }
}


@media (min-width: 320px) and (max-width: 576px){
    .headerNosotros {
        height: 10%;
        font-family: "Romanica";
        .container-fluid { 
            margin: auto;
            padding: 1%;
        }
    }
    .mainNosotros {background-color: $secundary-color;
        border: 3px solid white;
        height: auto;
        width: 90%;
        display: flex;
        justify-content: center;
        .article {width: 100%;
            height: auto;
            margin: auto;
            font-size: 90%;
            color: $white;
            overflow: auto;
        }
            .h1Nosotros { text-align: center;
                margin: 2%;
                padding: 1%;
            }
            .h3Nosotros {margin: 1px;
                padding: 1px;
                color: $white;
            }
            .divbien {font-size: 30%;
                text-align: end;
                margin: 1px;
                padding: 1px;
                color: $white;
            }
    }
    .footerNosotros { font-family: "Romanica";
        background-color: rgb(23, 22, 22);
        height: 7%;
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        $redes-sociales:(
            facebook:rgb(34, 92, 251),
            instagram:rgb(115, 3, 125),
            twitter:rgb(49, 160, 251)
            );
            #instagram{
                background: map-get($redes-sociales, instagram)
            }
            #facebook{ 
                background: map-get($redes-sociales, facebook)
            }
            #twitter{ 
                background: map-get($redes-sociales, twitter)
            }
    }
}

@media (min-width: 320px) and (max-width: 576px){
    .footerComunidad { font-family: "Romanica";
        background-color: rgb(23, 22, 22);
        height: 7%;
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        $redes-sociales:(
            facebook:rgb(34, 92, 251),
            instagram:rgb(115, 3, 125),
            twitter:rgb(49, 160, 251)
            );
            #instagram{
                background: map-get($redes-sociales, instagram)
            }
            #facebook{ 
                background: map-get($redes-sociales, facebook)
            }
            #twitter{ 
                background: map-get($redes-sociales, twitter)
            }
    }
}
@media (min-width: 320px) and (max-width: 576px){
    .headerContacto {
        height: 150px;
        font-family: "Romanica";
        .container-fluid { 
            margin: auto;
            padding: 1%;
        }
    }
    .mainContacto {margin: auto;
        padding: 1%;
        width: 90%;
        border: 3px solid white;
        background-color: $secundary-color;
        .sectionContacto {width: 100%;
            margin: auto;
            font-size: 76%;
            color: $white;
            }
            .h2mailc {font-size: small;
                text-decoration: underline;
                margin:auto;
                padding: auto;
            }    
    }
    .footerContacto { font-family: "Romanica";
        background-color: rgb(23, 22, 22);
        height:7%;
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        $redes-sociales:(
            facebook:rgb(34, 92, 251),
            instagram:rgb(115, 3, 125),
            twitter:rgb(49, 160, 251)
            );
            #instagram{
                background: map-get($redes-sociales, instagram)
            }
            #facebook{ 
                background: map-get($redes-sociales, facebook)
            }
            #twitter{ 
                background: map-get($redes-sociales, twitter)
            }
    }
}        

@media (min-width: 320px) and (max-width: 576px){
    .headerProducto {
        height: 10%;
        font-family: "Romanica";
        .container-fluid { 
            margin: auto;
            padding: 1%;
        }
    }
    .mainProductos {height: 100%;
        width:80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        column-gap:80%;
        .navProductos { height: 100%;
            display: flex;
            flex-direction: column;
            column-gap: normal;
        }
            .sectionOfertas {margin: 1%;
                padding: 2%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-content: space-between;
                column-gap: 30px;
            }
        .sectionPalas {margin: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-content: space-between;
            column-gap: 30px;
        }
    }
    .footerProductos { font-family: "Romanica";
        background-color: rgb(23, 22, 22);
        height:7%;
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        $redes-sociales:(
            facebook:rgb(34, 92, 251),
            instagram:rgb(115, 3, 125),
            twitter:rgb(49, 160, 251)
            );
            #instagram{
                background: map-get($redes-sociales, instagram)
            }
            #facebook{ 
                background: map-get($redes-sociales, facebook)
            }
            #twitter{ 
                background: map-get($redes-sociales, twitter)
            }
    }
}

@font-face {
        font-family: "Romanica";
        src: url(../Fonts/Romanica.ttf);
}
