/* Variables */ /* Generales */
#Titulo {
  list-style-type: none;
  text-decoration: none;
  font-size: 60px;
  color: rgb(145, 236, 8);
}

* {
  padding: 0px;
  margin: auto;
  box-sizing: border-box;
}

@media (min-width: 320px) and (max-width: 576px) {
  .headerHome {
    height: 150px;
    font-family: "Romanica";
  }
  .mainHome {
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainHome .divOfertas {
    margin: 4px;
    padding: 3px;
    display: flex;
    justify-content: center;
    width: 500px;
  }
  .mainHome .divOfertas .imgOfertas {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
  }
  .mainHome .divOfertas .imgHome:hover {
    width: 90%;
    cursor: pointer;
  }
  .homeSection .divSection {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 2px;
  }
  .homeSection .divSection .imgHome {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footerHome {
    font-family: "Romanica";
    background-color: rgb(23, 22, 22);
    height: 7%;
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
  }
  .footerHome #instagram {
    background: rgb(115, 3, 125);
  }
  .footerHome #facebook {
    background: rgb(34, 92, 251);
  }
  .footerHome #twitter {
    background: rgb(49, 160, 251);
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .headerNosotros {
    height: 10%;
    font-family: "Romanica";
  }
  .headerNosotros .container-fluid {
    margin: auto;
    padding: 1%;
  }
  .mainNosotros {
    background-color: rgb(47, 47, 47);
    border: 3px solid white;
    height: auto;
    width: 90%;
    display: flex;
    justify-content: center;
  }
  .mainNosotros .article {
    width: 100%;
    height: auto;
    margin: auto;
    font-size: 90%;
    color: white;
    overflow: auto;
  }
  .mainNosotros .h1Nosotros {
    text-align: center;
    margin: 2%;
    padding: 1%;
  }
  .mainNosotros .h3Nosotros {
    margin: 1px;
    padding: 1px;
    color: white;
  }
  .mainNosotros .divbien {
    font-size: 30%;
    text-align: end;
    margin: 1px;
    padding: 1px;
    color: white;
  }
  .footerNosotros {
    font-family: "Romanica";
    background-color: rgb(23, 22, 22);
    height: 7%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
  }
  .footerNosotros #instagram {
    background: rgb(115, 3, 125);
  }
  .footerNosotros #facebook {
    background: rgb(34, 92, 251);
  }
  .footerNosotros #twitter {
    background: rgb(49, 160, 251);
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .footerComunidad {
    font-family: "Romanica";
    background-color: rgb(23, 22, 22);
    height: 7%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
  }
  .footerComunidad #instagram {
    background: rgb(115, 3, 125);
  }
  .footerComunidad #facebook {
    background: rgb(34, 92, 251);
  }
  .footerComunidad #twitter {
    background: rgb(49, 160, 251);
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .headerContacto {
    height: 150px;
    font-family: "Romanica";
  }
  .headerContacto .container-fluid {
    margin: auto;
    padding: 1%;
  }
  .mainContacto {
    margin: auto;
    padding: 1%;
    width: 90%;
    border: 3px solid white;
    background-color: rgb(47, 47, 47);
  }
  .mainContacto .sectionContacto {
    width: 100%;
    margin: auto;
    font-size: 76%;
    color: white;
  }
  .mainContacto .h2mailc {
    font-size: small;
    text-decoration: underline;
    margin: auto;
    padding: auto;
  }
  .footerContacto {
    font-family: "Romanica";
    background-color: rgb(23, 22, 22);
    height: 7%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
  }
  .footerContacto #instagram {
    background: rgb(115, 3, 125);
  }
  .footerContacto #facebook {
    background: rgb(34, 92, 251);
  }
  .footerContacto #twitter {
    background: rgb(49, 160, 251);
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .headerProducto {
    height: 10%;
    font-family: "Romanica";
  }
  .headerProducto .container-fluid {
    margin: auto;
    padding: 1%;
  }
  .mainProductos {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    -moz-column-gap: 80%;
         column-gap: 80%;
  }
  .mainProductos .navProductos {
    height: 100%;
    display: flex;
    flex-direction: column;
    -moz-column-gap: normal;
         column-gap: normal;
  }
  .mainProductos .sectionOfertas {
    margin: 1%;
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .mainProductos .sectionPalas {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .footerProductos {
    font-family: "Romanica";
    background-color: rgb(23, 22, 22);
    height: 7%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
  }
  .footerProductos #instagram {
    background: rgb(115, 3, 125);
  }
  .footerProductos #facebook {
    background: rgb(34, 92, 251);
  }
  .footerProductos #twitter {
    background: rgb(49, 160, 251);
  }
}
@font-face {
  font-family: "Romanica";
  src: url(../Fonts/Romanica.ttf);
}
/* Body Home */
.bodyHome {
  font-family: "Romanica";
  font-size: larger;
  background-image: url("../img/campo-padel-pelotas-canasta.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 8em;
  min-height: 100vh;
  overflow-x: hidden;
}
.bodyHome .headerHome {
  width: 100%;
  height: 10%;
  font-family: "Romanica";
}
.bodyHome .mainHome {
  width: 100%;
  height: 87%;
  margin: auto;
  padding: 2px;
}
.bodyHome .mainHome .divOfertas {
  margin: 4px;
  padding: 3%;
  display: flex;
  justify-content: center;
  width: auto;
}
.bodyHome .mainHome .divOfertas .imgOfertas {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.bodyHome .homeSection {
  height: 100%;
  width: 80%;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bodyHome .homeSection .divSection {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 2px;
  width: auto;
}
.bodyHome .homeSection .divSection .imgHome {
  height: 80%;
  width: 85%;
  margin: auto;
  padding: 5%;
  transition: 1s;
}
.bodyHome .homeSection .divSection .imgHome:hover {
  width: 90%;
  cursor: pointer;
}
.bodyHome .footerHome {
  font-family: "Romanica";
  background-color: rgb(23, 22, 22);
  height: 7%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.bodyHome .footerHome #instagram {
  background: rgb(115, 3, 125);
}
.bodyHome .footerHome #facebook {
  background: rgb(34, 92, 251);
}
.bodyHome .footerHome #twitter {
  background: rgb(49, 160, 251);
}

/* Body Nosotros */
.bodyNosotros {
  font-family: "Romanica";
  font-size: larger;
  background-image: url("../img/campo-padel-pelotas-canasta.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 8em;
  min-height: 100vh;
  overflow-x: hidden;
}
.bodyNosotros .headerNosotros {
  width: 100%;
  height: 150px;
  height: 10%;
}
.bodyNosotros .mainNosotros {
  background-color: rgb(47, 47, 47);
  border: 3px solid white;
  height: 80%;
  width: 90%;
  margin: auto;
  margin-top: 5%;
  padding: 2%;
  overflow: auto;
  font-size: 90%;
}
.bodyNosotros .mainNosotros .article {
  width: 100%;
  height: auto;
  margin: auto;
  color: white;
}
.bodyNosotros .mainNosotros .h1Nosotros {
  text-align: center;
  margin: 2%;
  padding: 1%;
}
.bodyNosotros .mainNosotros .h3Nosotros {
  margin: 1px;
  padding: 1px;
  color: white;
}
.bodyNosotros .mainNosotros .divbien {
  font-size: 100%;
  text-align: end;
  margin: 1%;
  padding: 1%;
  color: white;
}
.bodyNosotros .footerNosotros {
  font-family: "Romanica";
  background-color: rgb(23, 22, 22);
  height: 6%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin-top: 2%;
}
.bodyNosotros .footerNosotros #instagram {
  background: rgb(115, 3, 125);
}
.bodyNosotros .footerNosotros #facebook {
  background: rgb(34, 92, 251);
}
.bodyNosotros .footerNosotros #twitter {
  background: rgb(49, 160, 251);
}

/* Body Comunidad */
.bodyComunidad {
  font-family: "Romanica";
  font-size: larger;
  background-image: url("../img/campo-padel-pelotas-canasta.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 8em;
  min-height: 100vh;
  overflow-x: hidden;
}
.bodyComunidad .headerComunidad {
  width: 100%;
  height: 150px;
  font-family: "Romanica";
  height: 10%;
}
.bodyComunidad .mainComunidad {
  background-color: rgb(47, 47, 47);
  padding: 6%;
  height: auto;
  width: 80%;
  border: 3px solid white;
  color: white;
  margin: auto;
  margin-top: 5%;
}
.bodyComunidad .footerComunidad {
  font-family: "Romanica";
  background-color: rgb(23, 22, 22);
  height: 10%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.bodyComunidad .footerComunidad #instagram {
  background: rgb(115, 3, 125);
}
.bodyComunidad .footerComunidad #facebook {
  background: rgb(34, 92, 251);
}
.bodyComunidad .footerComunidad #twitter {
  background: rgb(49, 160, 251);
}

/* Body Contacto */
.bodyContacto {
  font-family: "Romanica";
  font-size: larger;
  background-image: url("../img/campo-padel-pelotas-canasta.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 8em;
  min-height: 100vh;
  overflow-x: hidden;
}
.bodyContacto .headerContacto {
  width: 100%;
  height: 150px;
  font-family: "Romanica";
  height: 10%;
}
.bodyContacto .mainContacto {
  margin: auto;
  padding: 6%;
  height: 87%;
  width: 80%;
  border: 3px solid white;
  background-color: rgb(47, 47, 47);
  margin-top: 5%;
}
.bodyContacto .mainContacto .sectionContacto {
  width: 100%;
  margin: auto;
  color: white;
}
.bodyContacto .mainContacto .pcontacto {
  font-size: x-large;
  color: white;
}
.bodyContacto .mainContacto .h1contacto {
  display: flex;
  justify-content: center;
  padding: 3%;
  color: white;
}
.bodyContacto .mainContacto .h2mailc {
  display: flex;
  justify-content: end;
  align-items: end;
  text-decoration: underline;
  margin: auto;
  padding: auto;
  color: white;
}
.bodyContacto .footerContacto {
  font-family: "Romanica";
  background-color: rgb(23, 22, 22);
  height: 7%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.bodyContacto .footerContacto #instagram {
  background: rgb(115, 3, 125);
}
.bodyContacto .footerContacto #facebook {
  background: rgb(34, 92, 251);
}
.bodyContacto .footerContacto #twitter {
  background: rgb(49, 160, 251);
}

/* Body Productos */
.bodyProductos {
  font-family: "Romanica";
  font-size: larger;
  background-image: url("../img/campo-padel-pelotas-canasta.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: auto;
  margin: auto;
  position: relative;
  padding-bottom: 8em;
  min-height: 100vh;
  overflow-x: hidden;
}
.bodyProductos .headerProductos {
  width: 100%;
  height: 10%;
  font-family: "Romanica";
}
.bodyProductos .mainProductos {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bodyProductos .mainProductos .containerOfertas {
  height: auto;
  width: 80%;
  margin: 10px;
  padding: 5px;
}
.bodyProductos .mainProductos .containerOfertas .h1Ofertas {
  background-color: rgb(40, 102, 236);
  color: white;
  text-align: center;
  width: 40%;
  border: 2px solid white;
}
.bodyProductos .mainProductos .containerPalas {
  height: auto;
  width: 80%;
  margin: 10px;
  padding: 5px;
}
.bodyProductos .mainProductos .containerPalas .h1Palas {
  background-color: rgb(40, 102, 236);
  color: white;
  text-align: center;
  width: 40%;
  border: 2px solid white;
}
.bodyProductos .mainProductos .containerAccesorios {
  height: auto;
  width: 80%;
  margin: 10px;
  padding: 5px;
}
.bodyProductos .mainProductos .containerAccesorios .h1Accesorios {
  background-color: rgb(40, 102, 236);
  color: white;
  text-align: center;
  width: 40%;
  border: 2px solid white;
}
.bodyProductos .mainProductos .containerZapatillas {
  height: auto;
  width: 80%;
  margin: 10px;
  padding: 5px;
}
.bodyProductos .mainProductos .containerZapatillas .h1Zapatillas {
  background-color: rgb(40, 102, 236);
  color: white;
  text-align: center;
  width: 40%;
  border: 2px solid white;
}
.bodyProductos .mainProductos .imgProducto {
  width: 60%;
  height: 200px;
}
.bodyProductos .footerProductos {
  font-family: "Romanica";
  background-color: rgb(23, 22, 22);
  width: 100%;
  height: 3%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.bodyProductos .footerProductos #instagram {
  background: rgb(115, 3, 125);
}
.bodyProductos .footerProductos #facebook {
  background: rgb(34, 92, 251);
}
.bodyProductos .footerProductos #twitter {
  background: rgb(49, 160, 251);
}/*# sourceMappingURL=estilos.css.map */